<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="${basedir}Logsinternal-nlog.txt">
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="Microsoft.ApplicationInsights.NLogTarget" />
	</extensions>
	<!-- the targets to write to -->
	<targets>
		<target xsi:type="File" name="fileLog" fileName="${basedir}\Logs\nlog-own-${shortdate}.json">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=tostring}" />
				<attribute name="innerException" layout="${exception:format=tostring}" />
				<attribute name="StackTrace" layout="${event-properties:item=StackTrace}" />
				<attribute name="fqClass" layout="${logger}" />
				<attribute name="otherInfo" layout="${all-event-properties}" />
				<attribute name="appName" layout="${var:appName}" />
				<attribute name="environment" layout="${environment:ASPNETCORE_ENVIRONMENT}" />
				<attribute name="correlationId" layout="${event-properties:item=CorrelationId}" />
			</layout>
		</target>
		<target xsi:type="Console" name="consoleTarget">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=tostring}" />
				<attribute name="innerException" layout="${exception:format=tostring}" />
				<attribute name="StackTrace" layout="${event-properties:item=StackTrace}" />
				<attribute name="fqClass" layout="${logger}" />
				<attribute name="otherInfo" layout="${all-event-properties}" />
				<attribute name="appName" layout="${var:appName}" />
				<attribute name="environment" layout="${environment:ASPNETCORE_ENVIRONMENT}" />
				<attribute name="correlationId" layout="${event-properties:item=CorrelationId}" />
			</layout>
		</target>
		<target xsi:type="ApplicationInsightsTarget" name="appInsightTarget">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="controller" layout="${logger}" />
				<attribute name="exception" layout="${exception:format=tostring}" />
				<attribute name="innerException" layout="${exception:format=tostring}" />
				<attribute name="stackTrace" layout="${event-properties:item=StackTrace}" />
				<attribute name="fqClass" layout="${logger}" />
				<attribute name="channel" layout="${event-properties:item=Channel}" />
				<attribute name="appName" layout="${var:appName}" />
				<attribute name="environment" layout="${environment:ASPNETCORE_ENVIRONMENT}" />
				<attribute name="correlationId" layout="${event-properties:item=CorrelationId}" />
			</layout>
			<instrumentationKey>${environment:AZ_AI_INS_KEY}</instrumentationKey>
			<contextproperty name="threadid" layout="${threadid}" />
		</target>
	</targets>
	<rules>
		<!--Below Order Matters-->

		<logger name="Microsoft.*" finalMinLevel="Warn" final="true"/>
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Trace" final="true"/>
		<!--<logger name="*" minlevel="Trace" maxLevel="Fatal" writeTo="fileLog,aiExceptionTarget"  />-->
		<logger name="*" levels="${var:logLevels}"   writeTo="consoleTarget"/>

		<logger name="*" ruleName="aiTarget" levels="${var:logLevels}"  writeTo="appInsightTarget"  />

		<logger name="*"  ruleName="filelogTarget" levels="${var:logLevels}" writeTo="fileLog" />


		<!--<logger name="*" minlevel="${var:minLogLevel}" maxLevel="${var:maxLogLevel}" writeTo="fileLog"  />-->
	</rules>
</nlog>